.purchase{
    width: 168px;
    background-color: #E76F51;
    border-radius: 2px;
    padding: 5px;
}
.font{
    font-family: 'Poppins';
    font-weight: 300;
}
.bike{
    width: 288px;
    height: 243px;
}
.card-img{
    width: 149px;
    height: 149px;
}
.card-txt{
    color: #6C6C6C;   
}
.icons{
    align-items: flex-start;
    width: 130.07px;
    height: 22.01px;   
}
.fa-solid{
    color: orange;
}
